{% extends 'baseforms.html' %}
{% load static %}
{% block bodyform %}
	<div class="account-container">
		<div class="heading-bx left">
			<h2 class="title-head">Forgot Password</h2>
		</div>
		{% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
          </div>
        {% endfor %}
		<form class="contact-bx" method="POST" action="{% url 'forgot_password' %}">
			{% csrf_token %}
			<div class="row placeani">
				<div class="col-lg-12">
					<div class="form-group">
						<div class="input-group">
							<label>Enter your Email for password reset</label>
							<input name="email" type="email" required="" class="form-control">
						</div>
					</div>
				</div>
				
				<div class="col-lg-12 m-b30">
					<button name="submit" type="submit" value="Submit" class="btn button-md">Submit</button>
				</div>
				<div class="col-lg-12">
					<a class="ml-auto" href="{% url 'home' %}">Go To Home</a>
                    <p class="mb-3">Remembered your password? Click <a class="ml-auto" href="{% url 'signin' %}">HERE</a> to login.</p>
				</div>
			</div>
		</form>
	</div>
{% endblock bodyform %}